
.header{
  position: top ;
  top: 60px;
  left: 80px;
}

.W1 {
  overlay
  background: grey;
}

.W2 {
  background: grey;
}

.W3 {
  background: grey
}

.W4 {
  background: grey
}


.W5 {
  background: grey;
}

.W6 {
  background: grey;
}
  
.W7 {
  background: grey;
}
 .W8 {
   background: grey;
 }

 #overlay {
  position: overlay; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey; /* Grey background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}